.footer {
    position: relative;
    padding: 97px 0 131px 0;
    background-color: var(--secondary-color-beige);
}
.footer::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 26px;
    background: linear-gradient(90deg, rgb(148, 206, 0) 10.5%, rgb(193, 228, 0) 10.5%, rgb(193, 228, 0) 29%, rgb(255, 58, 69) 29%, rgb(255, 58, 69) 34.5%, rgb(255, 117, 35) 34.5%, rgb(255, 117, 35) 60%, rgb(255, 195, 0) 60%, rgb(255, 195, 0) 76.5%, rgb(255, 226, 123) 76.5%);
}
.footer-grid {
    display: grid;
    grid-template-columns: minmax(325px, 534px) 280px 140px 220px;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
}
.footer__logo {
    margin-bottom: 55px;
}
.course-list {
    display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__nav-title{
    margin-bottom: 40px;
}
.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.phone-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}