.map{
    width: 704px;
    height: 496px;
	border-radius: 25px;
	overflow: hidden;
	/* box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); */
}

[class*="copyrights-pane"] {
	display: none !important;
}
.ymaps-layers-pane {
/* 
	filter: hue-rotate(90deg);  

	-ms-filter: hue-rotate(90deg);

	-webkit-filter: hue-rotate(90deg);

	-moz-filter: hue-rotate(90deg);

	-o-filter: hue-rotate(90deg); */

}