/* HERO */
.hero__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 157px;
    padding-bottom: 168px;
}
.hero__content {
    max-width: 895px;
}
.hero__title {
    font-family: SF Pro Display;
    font-size: 69px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 75.9px */
    margin-bottom: 57px;

    color: var(--red-txt-color);
}
.hero__title--bold {
    color: var(--bold-redtxt-color);
}
.hero__descr {
    margin-bottom: 80px;
    letter-spacing: 2px;
}
.hero__btn {
    padding: 13px 46px;
    color: var(--color-green);
}
.hero__btn::before{
    content: "";
    position: absolute;
    top: -14px;
    left: 220px;
    width: 34px;
    height: 14px;
    background-color: var(--сolor-beige);
}
.hero__btn::after{
    content: "";
    position: absolute;
    top: -14px;
    bottom: -14px;
    left: -14px;
    right: -14px;
    background: linear-gradient(90deg, rgba(148,206,0,1) 15%, rgba(193,228,0,1) 15%, rgba(193,228,0,1) 65%, rgba(255,195,0,1) 65%, rgba(255,195,0,1) 87%, rgba(255,117,35,1) 87%);
    border-radius: 20px;
    z-index: -1;
}

/* Cтили для позицирования картинки методом 1 */
/* .hero__img {
    position: absolute;
    right: -63px;
    top: -27px;
    pointer-events: none;
    z-index: -1;
} */

/* Cтили для позицирования картинки методом 2 */
.hero__bg{
    background-image: url('../../img/index/hero/hero__img.png') ;
    background-repeat: no-repeat;
    background-position: 951px 22px;
    background-size: 44% 75%;
}

.hero__wrapper::after{
    content: "";
    position: absolute;
    top: 64px;
    right: -5px;
    width: 836px;
    height: 638px;
    z-index: -2;
    background-image: url('../../img/index/hero/hero-circles.svg');

}

/* SCHOOL */

:root{
    --radius: 25px;
    /*
        Переменная для отступа справа на главной странице в секции school.
        Создание переменной необходимо для упращения работы при адаптивной верстки.
        Кнопка выбрать курс прижата к краю карточки, когда остальное его содержимое имеет отступ
        Идея в том, чтобы менять значения перееменной отступа справа в одном и автоматически прижимать
        кнопку к краю, у которой значений translatex равен переменной
    */
     --school-padding-right: 36px;
}
.school__list {
    display: flex;
    /* justify-content: space-between; */
    gap: 34px;

}
.school__item {
    display: flex;
    flex-direction: column;
    padding: 54px var(--school-padding-right) 0 39px;
    /* max-width: 541px; */
    border-radius: var(--radius);
    background-color: var(--secondary-color-beige);
}
.school__title {
    margin-bottom: 20px;
    color: var(--bold-redtxt-color);
    font-family: SF Pro Display;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.school__descr {
    margin-bottom: auto;
    letter-spacing: 2px;
}
.school__btn {
    margin-left: auto;
    padding: 23px 34px 21px;
    border-radius: 0;
    border-bottom-right-radius: var(--radius);
    color: var(--primary-color-white);

    transform: translateX(var(--school-padding-right));
}
.school__btn--midle-school {
    background: linear-gradient(90deg, rgb(148, 206, 0) 23%, rgb(193, 228, 0) 23%);
}
.school__btn--preschool-education {
    background: linear-gradient(90deg, rgb(255, 226, 123) 12%, rgb(255, 195, 0) 12%);
}
.school__btn--additional-education {
    background: linear-gradient(90deg, rgb(255, 117, 35) 71.8%, rgb(255, 58, 69) 71.8%);
}
/*
.--student-icon{
    background-image: url('../../img/school/student_icon.svg');
    background-repeat: no-repeat;
    background-position: 61%;
    background-size: 36px 36px;
}

.--apple-icon{
    background-image: url("../../img/school/apple_icon.svg");
    background-repeat: no-repeat;
    background-position: 88%;
    background-size: 35px 35px;
}

.--books-icon{
    background-image: url("../../img/school/books_icon.svg");
    background-repeat: no-repeat;
    background-position: 68%;
    background-size: 36px 36px;
}
*/
/* ABOUT */

.about__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 819px;
    padding-top: 265px;
    padding-bottom: 179px;
}
.about__bg {
    position: relative;
    background-image: url('../../img/index/about/kids.png');
    background-repeat: no-repeat;
    background-position: 4.3% 53%;
    background-size: 45% 75%;
}
.about__bg::after{
    content: "";
    position: absolute;
    top: 125px;
    left: 34px;
    width: 694px;
    height: 678px;
    background-image: url('../../img/index/about/about_circles.svg');
}
.about__content {
    margin-bottom: 74px;
}
.about__title {
    margin-bottom: 35px;
}
.about__descr {
    letter-spacing: 2px;
}
.counters {
    display: flex;
    gap: 97px;
}
.counters__number {
    font-family: SF Pro Display;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.counters__name {
    font-family: SF Pro Text;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 37.5px */
}
.--orange{
    color: var(--color-orange)

}
.--green{
    color: var(--color-green)
}

/* REVIEWS */

.reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 77px;
}
.reviews__link {
    padding-right: 18px;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--red-txt-color);
    background-image: url('../../img/index/reviews/reviews-arrow.svg');
    background-repeat: no-repeat;
    background-position: center right;

}
.reviews__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}
.reviews__item-wrapper{
    padding: 46.12px 12px 0 27px;
}
.reviews__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 317px;
    height: 464px;;
    border-radius: 25px;
    background-color: var(--secondary-color-beige);
}
.reviews__grade {
    margin-bottom: 12px;
}
.reviews__descr {
    margin-bottom: 40px;
    letter-spacing: 2px;
    line-height: 143.5%;
}
.reviews__reviewer {
    padding: 29px 28px 17px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    text-align: right;
    letter-spacing: 2px;
    color: white;
    background: green;
}
.--green-light-green {
    background: linear-gradient(180deg, rgba(148,206,0,1) 20%, rgba(193,228,0,1) 20%);
}
.--orange-red {
    background: linear-gradient(180deg, rgba(255,117,35,1) 40%, rgba(255,58,69,1) 40%);
}
.--beige-yellow {
    background: linear-gradient(180deg, rgba(255,226,123,1) 30%, rgba(255,195,0,1) 30%);
}
.--light-green-green- {
    background: linear-gradient(180deg, rgba(148,206,0,1) 20%, rgba(193,228,0,1) 20%);
}
.--red-orange {
    background: linear-gradient(180deg, rgba(255,58,69,1)40%, rgba(255,117,35,1) 40%);
}

/* APPLICATION */


.application__wrapper{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 413px;
    padding-bottom: 362px;
}
.application__wrapper::after{
    content: "";
    position: absolute;
    top: 190px;
    left: 20px;
    width: 1692px;
    height: 630px;
    background-image: url('../../img/index/application/application-circles.svg');
    z-index: -2 ;
}

.application__title {
    margin-bottom: 12px;
}
.application__descr {
    margin-bottom: 37px;
    letter-spacing: 2px;
}
.form-application {
    display: flex;
}
.form-application__tel {
    padding: 20px 30px 21px 32px;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFFCFB;
    background: linear-gradient(90deg, rgb(255, 117, 35) 5%, rgb(255, 195, 0) 5%);
    width: 249.6px;
    padding-left: 32px;
}
.form-application__btn {
    padding: 23px 16px 22px 15px;
    background-color: var(--сolor-beige);

}